body {
    text-align: center;
    background-color: #282c34;
    color: #d19a66;
}

input[type=text] {

    color: #d19a66;
    background-color: #393f4a;
    border: none;
    border-bottom: 2px solid #d19a66;
    outline: none;
}

input[type=button], input[type=submit], input[type=reset] {

    background-color: #393f4a;
    border: none;
    color: #d19a66;
}

footer {
    position:fixed;
    bottom:0;
}

a:link, a:visited {
    color: #61afef;
    background-color: #31353f;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
    color: #d19a66;
    background-color: #393f4a;
}
